<ul>
  <li *ngFor="let todo of todoItems$ |async">
    <mat-checkbox [ngModel]="todo.isCompleted" (click)="toggleStatus(todo)">
      {{ todo.title }}
    </mat-checkbox>
  </li>
</ul>
<hr>
<ul>
  <li *ngFor="let todo of completedItems$ |async">
    <mat-checkbox [ngModel]="todo.isCompleted" (click)="toggleStatus(todo)">
      {{ todo.title }}
    </mat-checkbox>
    <!-- <input type="checkbox" [ngModel]="todo.isCompleted" (click)="toggleStatus(todo)">
    {{ todo.title }} -->
  </li>
</ul>
<hr>
<button mat-raised-button (click)="dump()" color="primary">Dump</button>
<button mat-raised-button (click)="restore()" color="primary">Restore</button>
<button mat-raised-button (click)="remove()" color="warn">Remove</button>
<div class="form-group">
  <mat-form-field class="example-full-width">
    <mat-label>Create new todo</mat-label>
    <input matInput [(ngModel)]="newTodo" type="text">
  </mat-form-field>
  
  <button mat-raised-button (click)="addNewTodo()" color="accent">Create</button>
</div>